#logo {background-color:#00c3ff;
    height: 100px;          
}
#firma {font-size: 12px;
}
#data {font-size: 10px;
}
span { background-color:rgb(255, 238, 0)
}
.description {font-size: 9px;    
}
#Intestazione-tabella {color:white;
    background-color: rgba(0, 140, 255, 0.753);
}
#prima-riga {background-color: rgba(0, 255, 255, 0.336);

}
