#logo {background-color:#00c3ff;
    height: 100px;          
}
#firma {font-size: 12px;
}
#blue-color {color:rgb(17, 144, 255)}
#data {font-size: 10px;
}
#yellow-color { background-color:rgba(255, 238, 0, 0.445)
}
.description {font-size: 9px;    
}
#Intestazione-tabella {color:white;
    background-color: rgb(0, 132, 255);
}
#prima-riga {background-color: rgba(0, 238, 255, 0.425);

}
